.btn.btn, .page input.btn {
  // reset initial styles
  display: inline-block;
  border: none;
  transition: 300ms all;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 40px;
  min-width: 126px;
  font-size: 16px;
  padding: 10px 16px;
  &:hover {
    padding: 9px 15px;
  }
  &.btn--large {
    height: 48px;
    max-width: 290px;
    display: block;
  }
  &.btn-primary {
    background-color: $link-color;
    border-color: $link-color;
    color: white;
    &:hover, &.hover {
      background-color: $link-color-hover;
    }
    &:active, &.active {
      background-color: $link-color-active;
    }
    &:disabled, &[disabled] {
      background-color: #e7ecec;
      border-color: #e7ecec;
      color: #595e6f;
    }
  }
  &.btn-secondary {
    background-color: white;
    border: 1px solid $link-color;
    color: #4168e5;
    &:hover, &.hover {
      border-width: 2px;
      border-color: #2147a5;
    }
    &:active, &.active {
      border-width: 2px;
      border-color: #112d71;
    }
    &:disabled, &[disabled] {
      border-color: #595e6f;
      color: #595e6f;
      &:hover {
        border-width: 1px;
      }
    }
  }
}