// Bootstrap scss files
// required for bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/grid";

$gray-900: #141416; 
$gray-800: #202431;
$gray-600: #444e59;
$gray-500: #595e6f;
$gray-400: #8e93a4;
$gray-300: #dce4e8;
$gray-290: #ebeff1;

$blue-900: #112d71;
$blue-700: #2147a5;
$blue-600: #4168e5; 
$blue-100: #eef3f9;

$base-color: $gray-900;
$link-color-active: $blue-900;
$link-color-hover: $blue-700;
$link-color: $blue-600;

$base-text-size: 16px;
$large-text-size: 20px;
$small-text-size: 13px;

$header-height: 58px;
$sidebar-width: 314px;

$page-left-padding: 54px;

@import '../scss/form';
@import "../scss/buttons";

html, body {
  height: 100%;
}

body {
  font-family: "HelvaticaNeue", "Helvatica", "Arial", sans-serif;
  color: $base-color;
  font-size: $base-text-size;
}

a {
  color:$link-color;
  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color-active; 
  }
  &:hover {
    color: $link-color-hover;
  }
  &:active {
    color: $link-color-active;
  }
}

.is-hidden {
  display: none;
}

@import 'sidebar';
@import 'main-page';
@import 'header';
@import 'actions';
@import 'alerts';
@import 'tree';